{% extends 'base.html' %}

{% block title %}
<title>My Receipts</title>
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url "home" %}">Main Page</a>
    </nav>
</header>
    <main>
        <div>
            <h1>Create Receipt</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
{% endblock content %}
